html,
body {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  overflow: hidden;
}

canvas {
  display: block;
}

body {
  height: 400px;
  width: 400px;
  background-color: white;
}

svg {
  position: fixed;
  top: 60px;
  overflow: visible;
}